.background {
  height: 100vh;
}

.centeredBar {
  align-items: center;
  text-align: center;
  width: 50%;
  height: 15%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 90%;
  left: 0;
  bottom: 0;
  right: 0;
}

.centered {
  align-items: center;
  text-align: center;
  width: 35%;
  height: 100%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
