.centeredSetup {
  text-align: center;
  justify-content: center;
  display: flex;
}

.centeredGame {
  align-items: center;
  text-align: center;
  width: 50%;
  height: 70%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: -5%;
  left: 0;
  bottom: 0;
  right: 0;
}
